* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: aqua;
}

img {
  width: 100%;
}

p {
  text-align: justify;
  line-height: 25px;
  margin-bottom: 10px;
}

h2 {
  margin: 30px;
  text-align: center;
}

body {
  margin-left: 50px;
  margin-right: 50px;
}

.row {
  display: flex;
}

.aside {
  background-color: brown;
  padding: 10px;
  flex: 30%;
}

.section {
  background-color: blue;
  padding: 10px;
  flex: 70%;
}

.video {
  display: block;
  margin: 10px auto;
  width: 80%;
  height: calc(100vw * 50 / 100);
}

.tarjetas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 35px;
  justify-content: space-between;
}

.tarjetas .card {
  background-color: aquamarine;
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 5px 5px 8px red;
  padding: 10px;
  aspect-ratio: 700/1200;
}

.tarjetas .card:hover {
  background-color: black;
  color: antiquewhite;
  transform: scale(1.1);
}

.tarjetas .contenido p:first-child {
  color: blue;
  border-bottom: 2px dashed green;
  text-align: center;
}

/*============ CUADROS =================*/

.cuadro {
  background-color: rgb(125, 11, 187);
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  gap: 20px;
  padding: 20px;
  color: aliceblue;
  border-radius: 20px;
}

.cuadro .imagen {
  width: 500px;
}

@media screen and (max-width: 850px) {
  .cuadro {
    flex-direction: column-reverse;
  }
  .cuadro .imagen {
    width: 200px;
  }
}

@media screen and (max-width: 56.25rem) {
  .row {
    flex-direction: column;
  }
}
